<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles/main.css" rel="stylesheet" type="text/css" >

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand btn" style="font-size: 26px;" href="/">Community Cuisine</a>

        <a class="btn" href="/">Home</a>
       
            {% if first_name and last_name %}
            
            <a class="btn" href="/find">Find a Recipe</a>
            <a class="btn"  href="{{ url_for('add_recipe') }}">Add New Recipe</a>
            <a class="btn" href="{{ url_for('user_reviews') }}">My Reviews</a>
            <span class="navbar-brand navbar-text text-white ms-auto">
                Welcome, {{ first_name }} {{ last_name }}!
            </span>
            <a class="btn " href="/update_account">Update Account</a>

            <a class="btn btn-danger" href="/logout">Logout</a>
            {% else %}
            <a class="nav-link btn btn-success" href="/login">Login</a>

            {% endif %}
          <!-- </div> -->
        <!-- </div> -->
       
      </nav>

    <div class="container mt-5">
        <a href="/add_recipe" style="text-decoration: none; color:black;"> <h2 class="page_title" style="margin-bottom: 2rem;">Add New Recipe</h2></a>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.ethnic_origin.label(class="form-label") }}
                {{ form.ethnic_origin(class="form-control") }}
                {% if form.ethnic_origin.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.ethnic_origin.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.meal_course.label(class="form-label") }}
                {{ form.meal_course(class="form-control") }}
                {% if form.meal_course.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.meal_course.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
                {% if form.title.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.title.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.spice_level.label(class="form-label") }}
                {{ form.spice_level(class="form-control") }}
                {% if form.spice_level.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.spice_level.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.restrictions.label(class="form-label") }}
                {{ form.restrictions(class="form-control") }}
                {% if form.restrictions.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.restrictions.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.ingredients.label(class="form-label") }}
                {{ form.ingredients(class="form-control") }}
                <small class="form-text text-muted">Enter ingredients separated by a comma. Example: salt, pepper, garlic</small>
                {% if form.ingredients.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.ingredients.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.URL.label(class="form-label") }}
                {{ form.URL(class="form-control") }}
                <small class="form-text text-muted">If no URL exists, type N/A</small>

                {% if form.URL.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.URL.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
