<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Community Cuisine</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
        <link href="static/styles/main.css" rel="stylesheet" type="text/css" >
    </head> 

<!-- style="background-color: bisque;" -->
<!-- need to get rid of in line css and figure out why css isnt linking here -->
<body style="background-color: bisque;">
    <h1>Ingredients for <a href="{{ recipe['URL'] }}" target="_blank">{{ recipe.title }}</a> - Average Rating: {{ recipe.average_rating }}</h1>
    <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    <h1>Reviews for {{ recipe.title }}</h1>
    <ul>
        {% for rating in ratings %}
        <li>Username: {{ rating.username }}</li>
        <li>Rating: {{ rating.star }}</li>
        <li>Comment: {{ rating.comment }}</li>
        {% endfor %}
    </ul>
    <h1>Dietary Information for {{ recipe.title }}</h1>
    <ul>
        {% for restriction in restrictions %}
        <li> Spice Level: {{ restriction.spice_level }}</li>
        <li> Dietary Information: {{ restriction.restrictions}}  </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{{ url_for('add_rating', recipe_id=recipe['recipe_id']) }}">Add Rating</a>
    <a href="{{ url_for('find_page') }}">Back to Home</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>