body{
   background-color: bisque;
}
.form-container {
    max-width: 200px;
    margin: auto;
    justify-content: center;
}
.invalid-feedback {
    display: block;
}

.login{
    text-align: center;
    justify-content: center;
    background-color: gray;
    padding: 1rem;
    
}

h1{
    text-align: center;
    justify-content: center;
}

.index_page {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    height: 100vh; 
    margin-top: 5rem;
}

.index_button{
    margin-top: 10px;
}


.index_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    max-width: 720px; 
    margin: auto; 
    margin-top: 5%; 
}

.index_page button {
    padding: 1rem;
    background-color: #007bff; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

.index_page button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
